{% extends 'base.html.twig' %}
{% block body %}

    {% block header %}
        {{ parent() }}
    {% endblock %}
    <div class="titre">
        {{ titre }}
    </div>
    {% block section %}

        <div class="container">
            <div class="container mt-4">
                <div class="photo-card">
                    <h3 class="text-center">Rechercher</h3>
                    {{ form_start(formRecherche) }}
                    {{ form_row(formRecherche.chaine) }}
                    <hr>
                    <div>
                        <h3 class="text-center">Catégories</h3>
                        {{ form_row(formRecherche.categories) }}
                        <BUTTON type="submit" class="btn btn-danger align-items-center">Rechercher</BUTTON>
                    </div>

                    {{ form_end(formRecherche) }}
                </div>
                <div class="col-md-10 text-center">
                    <div class="row">
                        {% for articlesPrestations in produits %}
                            <div class="col-md-4 boxProduit">
                                <img src="{{ asset('images/products/') }}{{ articlesPrestations.nomPhoto }}"
                                     class="img-product "
                                     alt="{{ articlesPrestations.nomPhoto }}"><br>
                                <h3>{{ articlesPrestations.libelle }}</h3>
                                <h6 class="text-muted">{{ articlesPrestations.prixUnit }}€</h6>
                                <a class="btn btn-danger btn-sm"
                                   href="{{ path('detailProduit',{id:articlesPrestations.id,slug:articlesPrestations.slug}) }}">Detail</a>
                                <button type="button" class="btn-danger btn-sm">panier</button>
                            </div>

                        {% endfor %}
                        <br><br><br><br>
                    </div>
                </div>
            </div>
            </div>
        </div>

    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}