{% extends 'base.html.twig' %}
{% block body %}

    {% block header %}
        {{ parent() }}
    {% endblock %}
<div class="titre">
    {{ titre }}
</div>
    {% block section %}
        <section id="home-icones">
            <div class="container">
                <div class="row">
                    {% for sousCategories in sousCat%}
                    <div id="soins" class=" col-md-4 text-center ">
                        <img src="{{ asset('images/products/') }}{{ sousCategories.nomPhoto}} " class="img-product " alt="{{ sousCategories.nomPhoto }}">
                        <h3>{{ sousCategories.libelle }}</h3>
                        <a href=" " class="btn btn-outline-danger ">Voir detail</a><br><br><br><br>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
