{% extends 'base.html.twig' %}
{% block body %}

    {% block header %}
        {{ parent() }}
    {% endblock %}
    <div class="titre">
        {{ titre }}
    </div>
    {% block section %}

        <div class="container">
            <div class="container mt-4">

                <div class="col-md-10 text-center">
                    <div class="row">
                        {% for articlesPrestations in produit %}
                            <div class="col-md-4 boxProduit">
                                <img src="{{ asset('images/products/') }}{{ articlesPrestations.nomPhoto }}"
                                     class="img-product "
                                     alt="{{ articlesPrestations.nomPhoto }}"><br>
                                <h3>{{ articlesPrestations.libelle }}</h3>
                                <h6 class="text-muted">{{ articlesPrestations.prixUnit }}€</h6>
                                <a class="btn btn-danger btn"
                                   href="{{ path('detailMaquillage',{id:articlesPrestations.id,slug:articlesPrestations.slug}) }}">Detail</a>
                                <a class="btn-danger btn" href="{{ path('ajouter',{id:articlesPrestations.id}) }}">Devis</a>
                            </div>

                        {% endfor %}
                        <br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
        </div>

    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}